Savarese.json
[{"id":"ba00f2bd.f0385","type":"tab","label":"Progetto","disabled":false,"info":""},{"id":"61510890.03d3d8","type":"mqtt in","z":"ba00f2bd.f0385","name":"","topic":"/MeteoRequest","qos":"2","datatype":"auto","broker":"81529694.724b18","x":200,"y":400,"wires":[["1e15e47.a04e91c"]]},{"id":"99b0192a.cc5278","type":"mqtt out","z":"ba00f2bd.f0385","name":"","topic":"","qos":"","retain":"","broker":"81529694.724b18","x":670,"y":440,"wires":[]},{"id":"3e9f70e8.4545f","type":"mosca in","z":"ba00f2bd.f0385","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":339,"y":160,"wires":[[]]},{"id":"1e15e47.a04e91c","type":"http request","z":"ba00f2bd.f0385","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=15c9b19a8e4d2f9570a497c5f49d0541","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":400,"wires":[["d68a5bfb.a30e68"]]},{"id":"6a49e70b.9346b8","type":"debug","z":"ba00f2bd.f0385","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":360,"wires":[]},{"id":"d68a5bfb.a30e68","type":"function","z":"ba00f2bd.f0385","name":"","func":"msg = {  \"payload\": [\n   {\"name\":msg.payload.name},\n   {\"temp\":Math.round(msg.payload.main.temp - 273.15)},\n   {\"hum\":msg.payload.main.humidity},\n   {\"weat\":msg.payload.weather[0].id},\n   {\"weatcond\":msg.payload.weather[0].main}\n   ],\n   \"topic\":\"/MeteoResponse\"\n};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":400,"wires":[["6a49e70b.9346b8","99b0192a.cc5278"]]},{"id":"81529694.724b18","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]